@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans";
  color: theme("colors.prDarkBlue.100");
}
.prose {
  --tw-prose-headings: theme("colors.prDarkBlue.100");
  --tw-prose-body: theme("colors.prDarkBlue.100");
}
h1 {
  font-family: Montserrat;
  font-weight: 700;
}

.subtitle {
  font-family: "Open Sans";
  font-style: italic;
  color: theme("colors.prGreen.100");
}

.story .prose {
  --tw-prose-headings: theme("colors.prGreen.100");
}

.logo {
  transform: translate3d(0, 0, 0);
  mix-blend-mode: darken;
}

.main-container {
  --tw-bg-opacity: 0.25;
}
