@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans";
}
h1 {
  font-family: Montserrat;
  font-weight: 700;
}

.subtitle {
  font-family: "Open Sans";
  font-style: italic;
  color: theme("colors.prGreen.100");
}

.story .prose {
  --tw-prose-headings: theme("colors.prGreen.100");
}

.logo {
  transform: transalte3d(0, 0, 0);
  mix-blend-mode: darken;
}
